<header class="bg-primary text-white shadow-sm">
  <div class="container py-4">
    <div class="d-flex justify-content-between align-items-center">
      <!-- Logo -->
      <div class="h3 mb-0">
        <a routerLink="/" class="text-white text-decoration-none">MyWebsite</a>
      </div>

      <!-- Navigation -->
      <nav>
        <ul class="nav">
          <li class="nav-item">
            <a routerLink="/" class="nav-link text-white">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/brands" class="nav-link text-white">Brands</a>
          </li>
          <li class="nav-item">
            <a routerLink="/categories" class="nav-link text-white"
              >categories</a
            >
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link text-white">About</a>
          </li>
          <li class="nav-item">
            <a href="/services" class="nav-link text-white">Services</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link text-white">Contact</a>
          </li>
        </ul>
      </nav>

      <!-- Call to Action Button -->
      <div>
        <a href="/login" class="btn btn-success"> Login </a>
      </div>
    </div>
  </div>
</header>
